a = 50
b = 20
c = a + b
print(c)

In [1]:
a = 50                # Arithmatic Operators
b = 20 
c = a + b 
print(c)

70

In [2]:
a = 50 
b = 20 
c = a - b 
print(c)

30

In [3]:
a = 50 
b = 20 
c = a * b 
print(c)

1000

In [4]:
a = 50 
b = 20 
c = a / b 
print(c)

2.5

In [5]:
a = 50 
b = 20 
c = a % b 
print(c)

10

In [6]:
a = 50 
b = 20 
c = a // b 
print(c)

2

In [10]:
a = 2
b = 10 
c = a ** b 
print(c)

1024

In [11]:
a = 50 
b = 20 
c = a + b 
print(c)

70

In [14]:
a = 50                  # Asssignment Operators
b = 20 
a+= b 
print(a)

70

In [15]:
a = 50 
b = 20 
a-= b 
print(a)

30

In [16]:
a = 50 
b = 20 
a*= b 
print(a)

1000

In [17]:
a = 50 
b = 20 
a/= b 
print(a)

2.5

In [19]:
a = 50 
b = 30 
a%= b 
print(a)

20

In [20]:
a = 50 
b = 30 
a//= b 
print(a)

1

In [21]:
a = 2 
b = 10
a**= b 
print(a)

1024

In [22]:
a = 500                   # Comparison  Operators
b = 300
print ( a==b)

False

In [23]:
a = 500
b = 300
print ( a!=b)

True

In [24]:
a = 500
b = 300
print ( a>b)

True

In [25]:
a = 500
b = 300
print ( a<b)

False

In [26]:
a = 500
b = 300
print ( a>=b)

True

In [27]:
a = 500
b = 300
print ( a<=b)

False

In [28]:
a = 500                     # Logical Operators
b = 300
c = 200

In [29]:
print(a>b)
print(b<c)

True
False

In [30]:
print((a>b)and(b<c))

False

In [31]:
print (( a>b)or (b<c))

True

In [32]:
print (( a>b)and (b<c))
print (not(( a>b)and (b<c)))

False
True

In [33]:
a =500
c= 500
b = a
print (a,b,c)

500 500 500

In [34]:
print ( a is b)
print (a is c)

True
False

In [35]:
print ( id (a))   # find id
print ( id (b))
print ( id (c))

2651841935376
2651841935376
2651841934832

In [1]:
x = ["apple", "banana"]
z= ["apple", "banana"]
y = x
print ( id (x))
print ( id (y))
print ( id (z))

2373840363136
2373840363136
2373840362496

In [2]:
print(x is z)  # identity operator

False

In [3]:
print (x is y)

True

In [4]:
print(x==y)

True

In [5]:
print (x,y,z)

['apple', 'banana'] ['apple', 'banana'] ['apple', 'banana']

In [11]:
x.append('orange')  # append
x

['apple', 'banana', 'Orange', 'orange']

In [12]:
x.append('orange')
x

['apple', 'banana', 'Orange', 'orange', 'orange']

In [13]:
print(x,y,z)

['apple', 'banana', 'Orange', 'orange', 'orange'] ['apple', 'banana', 'Orange', 'orange', 'orange'] ['apple', 'banana']

In [14]:
l1=[10,20,30,20,40]
print(20 in l1)              # membership operator

True

In [15]:
l1=[10,20,30,20,40]
print(25 in l1)

False

In [16]:
l1=[10,20,30,20,40]
print(20 not in l1)

False

In [17]:
l1=[10,20,30,20,40]
print(25 not in l1)

True

In [18]:
s ='Sunday'
print ('d' in s)

True

In [19]:
s ='Sunday'
print ('m' in s)

False

In [20]:
s ='Sunday'
print ('d' not in s)

False

In [21]:
s ='Sunday'
print ('m' not  in s)

True

In [22]:
a =500                   #Conditional Satements if,if-else,if-elif-else,nested if-else
b = 200
if a>b:               
    print ( 'A greater than B')

A greater than B

In [23]:
a =500                   #Conditional Satements if,if-else,if-elif-else,nested if-else
b = 200
if a<b:               
    print ( 'A greater than B')

In [26]:
a =500                   #Conditional Satements if,if-else,if-elif-else,nested if-else
b = 200
if a<b:               
    print ( 'A less than B')
else :
    print ('A is greater than B')

A is greater than B

In [27]:
x = 10 # Input is Even If Executes and get the result

if x % 2 == 0:  
    print('True')
    print('The given Numer is Even = ', x)

True
The given Numer is Even =  10

In [30]:
x = 11 # Input is Even If Executes and get the result

if x % 2 == 0:  
    print('True')
    print('The given Numer is Even = ', x) 
else :
    print('The given Numer is Odd = ', x)

The given Numer is Odd =  11

In [32]:
x=10
x % 2 ==0

True

In [34]:
x // 2

5

In [36]:
x=11
if x % 2 == 0 :
    print('True')
    print ('The number is Even=',x)
else:
    print('false')
    print(' The given number is Odd',x)

false
 The given number is Odd 11

In [37]:
x=10
if x % 2 == 0 :
    print('True')
    print ('The number is Even=',x)
else:
    print('false')
    print(' The given number is Odd',x)

True
The number is Even= 10

In [40]:
mark=30
if mark>90 :
    print('A')
elif mark >70 :
    print('B')
elif mark > 50 :
    print('C')
else :
    print ('D')

D

In [41]:
mark=60
if mark>90 :
    print('A')
elif mark >70 :
    print('B')
elif mark > 50 :
    print('C')
else :
    print ('D')

C

In [42]:
mark=90
if mark>90 :
    print('A')
elif mark >70 :
    print('B')
elif mark > 50 :
    print('C')
else :
    print ('D')

B

In [43]:
a=100
b=100
if (a>b):
    print('a is greater than b')
elif (a<b):  
    print('a is less than b')
else:
    print('a and b are equal')

a and b are equal

In [44]:
a=100
b=200
if (a>b):
    print('a is greater than b')
elif (a<b):  
    print('a is less than b')
else:
    print('a and b are equal')

a is less than b

In [45]:
a=200
b=100
if (a>b):
    print('a is greater than b')
elif (a<b):  
    print('a is less than b')
else:
    print('a and b are equal')

a is greater than b

In [1]:
a =300
if a <100:
    print (a,'Less than 100')
elif (100<= a <=200):
    print (a,'is between 100 and 200')
else:
    print (a,'Greater than 200')

300 Greater than 200

In [2]:
a =150
if a <100:
    print (a,'Less than 100')
elif (100<= a <=200):
    print (a,'is between 100 and 200')
else:
    print (a,'Greater than 200')

150 is between 100 and 200

In [16]:
a=40
if a <100:
    print(a,'is less then 100')
    if (50<= a<=100): 
        print(a,'is between 50 & 100')
    elif(20<= a <= 50):  
        print(a,'is between 20 & 50')
    else:
        print(a,'is greater then 100')
        
elif(20 <=a <=200):  
    print(a,'is between 50 & 200')
else:
    print(a,'is greater then 200')

40 is less then 100
40 is between 20 & 50

In [17]:
a=220
if a <100:
    print(a,'is less then 100')
    if (50<= a<=100): 
        print(a,'is between 50 & 100')
    elif(20<= a <= 50):  
        print(a,'is between 20 & 50')
    else:
        print(a,'is greater then 100')
        
elif(20 <=a <=200):  
    print(a,'is between 50 & 200')
else:
    print(a,'is greater then 200')

220 is greater then 200

In [18]:
a=160
if a <100:
    print(a,'is less then 100')
    if (50<= a<=100): 
        print(a,'is between 50 & 100')
    elif(20<= a <= 50):  
        print(a,'is between 20 & 50')
    else:
        print(a,'is greater then 100')
        
elif(20 <=a <=200):  
    print(a,'is between 50 & 200')
else:
    print(a,'is greater then 200')

160 is between 50 & 200

In [21]:
a=150
b=200
if a<b:
    print(a,'is less then ',b)
    if (10<= a<=100):
        print(a,'is between 10 & 100')
    elif a<10:
            print(a,'is less then 10')
       
    
else:
    print(a,'is bigger number then ',b)

150 is less then  200

In [28]:
day = int (input ('enter the number='))

match day :
    case 1:
        print('sun')
    case 2:
        print('mon')
    case 3:
        print('tue')
    case 4:
        print('wed')
    case 5:
        print('thu') 
    case 6:
        print('fri') 
    case 7:
        print('sat')
    case _:
        print('number is incorrect')

enter the number=5
thu

In [29]:
day = int (input ('enter the number='))

match day :
    case 1:
        print('sun')
    case 2:
        print('mon')
    case 3:
        print('tue')
    case 4:
        print('wed')
    case 5:
        print('thu') 
    case 6:
        print('fri') 
    case 7:
        print('sat')
    case _:
        print('number is incorrect')

enter the number=8
number is incorrect

In [30]:
# FOR - Fixed number of times - Add 5 numbers 
# While - Execute based on condition - Add numbers till sum reaches 100

no1= input('input 1st no=')
no2= input('input 2nd no=')
total=no1+no2
print(total)

input 1st no=10
input 2nd no=20
1020

In [31]:
no1=int(input('input 1st no='))
no2= int (input('input 2nd no='))
total=no1+no2
print(total)

input 1st no=10
input 2nd no=20
30

In [35]:
total = 0
for i in range (5):
    print(i)

0
1
2
3
4

In [42]:
total = 0
for i in range  (5):
    no = int (input('Enter thr number ='))
    total = total+no
print('Sum of 5 numbers = ',total)

Enter thr number =1
Enter thr number =2
Enter thr number =3
Enter thr number =4
Enter thr number =5
Sum of 5 numbers =  15

In [43]:
total = 0
for i in range  (5):
    no = int (input('Enter thr number ='))
    total = total+no
print('Sum of 5 numbers = ',total)

Enter thr number =123
Enter thr number =2345
Enter thr number =2345
Enter thr number =1234
Enter thr number =4563
Sum of 5 numbers =  10610

In [45]:
total = 0
while total<100:                     # while loop
    no = int (input('Enter thr number ='))
    total = total+no
print('Sum of numbers = ',total)

Enter thr number =50
Enter thr number =20
Enter thr number =30
Sum of numbers =  100

In [46]:
total = 0
while total<100:                     # while loop
    no = int (input('Enter thr number ='))
    total = total+no
print('Sum of numbers = ',total)

Enter thr number =10
Enter thr number =20
Enter thr number =30
Enter thr number =10
Enter thr number =5
Enter thr number =20
Enter thr number =50
Sum of numbers =  145

In [1]:
a =1
while a <5:
    print ( 'The number is ',a)
    a+=1
print ('Program end')

The number is  1
The number is  2
The number is  3
The number is  4
Program end

In [3]:
x=2
print('loop start')
while x<10:
    print(x)
    x+=1
print('loop end')

loop start
2
3
4
5
6
7
8
9
loop end

In [11]:
a = [ 10,20,30,40]
for i in range (len(a)):
    print(i)
print('good day')

0
1
2
3
good day

In [12]:
a = [ 10,20,30,40]
for i in a:
    print(i)
print('good day')

10
20
30
40
good day

In [16]:
a = 0
subj = ['python','java','oracle','c++']
for i in subj:
    if a==1:
        print(i)
    a=a+1

java

In [26]:
a = 0
subj = ['python','java','oracle','c++']
for i in subj:
    if a==1:
        #print(i)
        a=a+1
    print(i)

python
java
oracle
c++

In [28]:
for i in range (10):
    print (str(i)*i)
    
print ('Good Day')

0
1
2
3
4
5
6
7
8
9
Good Day

In [29]:
i=3
print(str(i))

3

In [30]:
i=3
print(str(i)*i)   # it prints i value 3 times

333

In [31]:
i=3
print((i)*i)   # it take i as integer & did multipication

9

In [32]:
for i in range(10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [39]:
for i in range(10):
    print(str('*')*i)

*
**
***
****
*****
******
*******
********
*********

In [40]:
A = ['pencil','pen','book','bag']
B = ['school','college']
for i in A:
    print(i)
    for j in B:
        print('  ',j)

pencil
   school
   college
pen
   school
   college
book
   school
   college
bag
   school
   college

In [41]:
A = ['pencil','pen','book','bag']
B = ['school','college']
for i in A:
    print(i)
    for j in B:
        print('',j)

pencil
 school
 college
pen
 school
 college
book
 school
 college
bag
 school
 college

In [45]:
A = ['pencil','pen','book','bag']
B = ['school','college']
for i in A:
    print(i)
    for j in B:
        print('   ',j)
        break

pencil
    school
pen
    school
book
    school
bag
    school

In [46]:
A = ['pencil','pen','book','bag']
B = ['school','college']
for i in A:
    print(i)
    for j in B:
        print('   ',j)
        continue

pencil
    school
    college
pen
    school
    college
book
    school
    college
bag
    school
    college

In [42]:
subj = ['Python','C++','Oracle','exit','Angular','Informatica','Java']

for i in subj:
    if i == 'exit':
        break
    print(i)

Python
C++
Oracle

In [44]:
subj = ['Python','C++','Oracle','exit','Angular','Informatica','Java']

for i in subj:
    if i == 'Java':
        break
    print(i)

Python
C++
Oracle
exit
Angular
Informatica

In [48]:
subj = ['Python','C++','Oracle','exit','Angular','Informatica','Java']

for i in subj:
    if i == 'exit':
        continue
    print(i)

Python
C++
Oracle
Angular
Informatica
Java

In [47]:
no1 = input ('Enter the value')
no2 = input ('Enter the value')
print ('Data type of no1 ',type (no1))
no3 = int(no1)+ int (no2)
print (no3)

Enter the value10
Enter the value20
Data type of no1  <class 'str'>
30